<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="little_pig">

    <!-- Degree-to-radian conversions -->
    <xacro:property name="degrees_30" value="0.523598776"/>
    <xacro:property name="degrees_45" value="0.785398163"/>
    <xacro:property name="degrees_90" value="1.57079633"/>
    <xacro:property name="degrees_180" value="3.14159265"/>

    <!-- Included macros -->
    <xacro:include filename="$(find little_pig_description)/xacro/params/color_properties.xacro"/>
    <xacro:include filename="$(find little_pig_description)/xacro/params/characteristics.xacro"/>

    <xacro:include filename="$(find little_pig_description)/xacro/macros/_steering_macro.urdf.xacro" />
    <xacro:include filename="$(find little_pig_description)/xacro/macros/_front_wheel.urdf.xacro" />
    <xacro:include filename="$(find little_pig_description)/xacro/macros/_rear_wheel.urdf.xacro" />
    
    <!-- Using two laser files due to namespace issues -->
    <xacro:include filename="$(find little_pig_description)/xacro/macros/_front_laser.urdf.xacro" />
    <xacro:include filename="$(find little_pig_description)/xacro/macros/_back_laser.urdf.xacro" />
    <xacro:include filename="$(find little_pig_description)/xacro/macros/_imu.urdf.xacro" />
    <xacro:include filename="$(find little_pig_description)/xacro/macros/_camera.urdf.xacro" />

    <!-- Inertia Generator -->
    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>
    </xacro:macro>

    <link name="base_link" />

    <link name="chassis">
        <visual>
            <geometry>
                <mesh filename="package://little_pig_description/meshes/little_pig_body.stl" scale="0.0254 0.0254 0.0254"/>
            </geometry>
            <origin rpy="0 0.0 1.57075" xyz="0 0 0.0"/>
            <material name="light_black"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.57075"/>
            <geometry>
                <mesh filename="package://little_pig_description/meshes/little_pig_body.stl" scale="0.0254 0.0254 0.0254"/>
            </geometry>
        </collision>
        <xacro:default_inertial mass="${body_mass}"/>
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <!-- Call macros to build components -->
    <xacro:steering_component prefix="left" reflect="1" />
    <xacro:steering_component prefix="right" reflect="-1" />

    <xacro:front_wheel prefix="left" reflect="1" />
    <xacro:front_wheel prefix="right" reflect="-1" />

    <xacro:rear_wheel prefix="left" reflect="1" />
    <xacro:rear_wheel prefix="right" reflect="-1" />

    <xacro:front_laser position="${front_laser_position}" rotate="0" />
    <xacro:back_laser position="${back_laser_position}" rotate="${degrees_180}" />
    <xacro:imu position="${imu_position}"/>
    <xacro:camera1 position="${camera_position}"/>

    <!-- Gazebo plugin for ROS Control -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/AckermannRobotHWSim</robotSimType>
        </plugin>

        <plugin name="gps_plugin" filename="libhector_gazebo_ros_gps.so">
            <alwaysOn>1</alwaysOn>
            <updateRate>40.0</updateRate>
            <frameId>base_link</frameId> <!-- Defaults to world? don't put in a "/"-->
            <bodyName>chassis</bodyName>
            <topicName>fix</topicName>
            <velocityTopicName>fix_vel</velocityTopicName>
            <drift>0.0001 0.0001 0.0001</drift>
            <referenceLatitude>37.634047</referenceLatitude>
            <referenceLongitude>-97.269368</referenceLongitude>
            <referenceHeading>0</referenceHeading>
            <referenceAltitude>0</referenceAltitude>
        </plugin>

    </gazebo>

</robot>