<?xml version="1.0"?> <!-- This load the robot description to the parameter server -->
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find little_pig_description)"/>

	<!-- send cob urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg pkg_hardware_config)/urdf/$(arg robot).urdf.xacro'" />

</launch>
