<?xml version="1.0"?> <!-- This loads the robot description to the parameter server -->
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg" default="$(find little_pig_description)"/>

	<!-- send urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro '$(arg pkg)/urdf/$(arg robot).urdf.xacro'" />

</launch>
